name: Sync Fork

on:
  schedule:
    - cron: "0 0 * * *" # 每天凌晨自动同步
  workflow_dispatch: # 允许手动触发

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Add upstream
        run: |
          git remote add upstream https://github.com/7Sageer/sublink-worker.git
          git fetch upstream

      - name: Merge upstream
        run: |
          git merge upstream/main --allow-unrelated-histories || true

      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
